
<table>
  <thead>

  <% jyunban=[] %>
  <% sta=[] %>
    <tr>
   
      <td><%="図番"%></td>
      <% koumoku.each do |koumo| %>
        <td><font size="3"><center><%= koumo %></center></font></td>
      <% end %>
    </tr>
  </thead>

  <tbody>
 
  <% partnumber=""%>
  <% products.each do |pro| %>
  <% input_aru=0 %>
    <% unless pro.partnumber==partnumber  %>

     <!--
     <%= koumoku.sort.reverse %>
     新しくkoumokuを増やす場合は、index３の順番を、上記koumoku.sort.revrseと同じ順番になるように調整すること
      -->
      <%  jyunban=jyunban.zip(sta).sort! %>
      <!-- sortの後に!をつけると、配列自体が変更される
       jyunbanは、2次元配列に変換されている為、下でjyunとsで表現できる 
      -->
      <% koumoku.each do |koumo| %>
      <% input_aru=0 %>
        <% catch(:out) do %>
          <% jyunban.each do |jyun,s| %>
            <% if jyun==koumo && s=="完了" %>
              <% input_ari=1 %>
              <td> <center><font size="4" color="blue"> <%=  @mark_complate  %> </font></center></td>
                   <% throw :out %>  
            <% end %>
            <% if jyun==koumo && s=="仕掛中" %>
              <% input_ari=1 %>
              <td> <center><font size="3" color="magenta"> <%=  @mark_WIP  %> </font></center></td>
                   <% throw :out %>  
            <% end %>
          <% end %>
          <% if input_ari=0 && partnumber!="" %> 
             <td><strong><center><font size="4" color="red"> <%= "━" %> </font></center></strong></td>
          <% end %>
        <% end %>
      <% end %>
      <tr><td><%= "" %></td></tr>
      <td><%= pro.partnumber %></td> 
      <% jyunban=[] %>
      <% sta=[] %>
    <% end %>

  
  <% partnumber=pro.partnumber%>
    <% catch(:break_loop) do %>
      <% koumoku.each do |koumo| %> 
          <% if pro.food==koumo && pro.status=="完了"  %>
            <% input_ari=1 %>
            <% sta.push(pro.status) %>
            <% jyunban.push(koumo)%>         
            <% throw :break_loop %>             
          <% end %>
          <% if pro.food==koumo && pro.status=="仕掛中"  %>
            <% input_ari=1 %>
            <% sta.push(pro.status) %>
            <% jyunban.push(koumo)%>         
            <% throw :break_loop %>             
          <% end %>
      <% end %>
    <% end %>
  <% end %> 

    <!--
  
  <%jyunban=jyunban.zip(sta).sort.reverse%>
  

  <%jyunban=jyunban.zip(sta).sort%>
  
 

  <% koumoku.each do |koumo| %>
        <% input_aru=0 %>
        <% catch(:out_break) do %>
        

              <% jyunban.zip(sta).each do |jyun,s| %>
              
                <% if jyun==koumo && s=="完了" %>
                  <% input_ari=1 %>
                  
                  <td> <center><font size="4" color="blue"> <%=  @mark_complate  %> </font></center></td>
                 
                 


                       <% throw :out_break %>  
                <% end %>
                <% if jyun==koumo && s=="仕掛中" %>
                  <% input_ari=1 %>
                  <td> <center><font size="3" color="blue"> <%=  @mark_WIP  %> </font></center></td>
                       <% throw :out_break %>  
                <% end %>
              <% end %>
            
              <% if input_ari=0 %> 
                 <td><center><font size="4" color="red"> <%= "-" %> </font></center></td>
              <% end %>
        <% end %>
  <% end %>
  
  -->

  </tbody>
</table>
 
<br>
<%= link_to '戻る', products_path ,class:"btn btn-secondary"%>