<h1>IATF APQP / PPAP Chart</h1>


<div class="tab_wrap">
	<input id="tab1" type="radio" name="tab_btn" checked>
	<input id="tab2" type="radio" name="tab_btn">
	<input id="tab3" type="radio" name="tab_btn">
  <input id="tab4" type="radio" name="tab_btn">
  <input id="tab5" type="radio" name="tab_btn">
  <input id="tab6" type="radio" name="tab_btn">
  <input id="tab7" type="radio" name="tab_btn">

	<div class="tab_area">
		<label class="tab1_label" for="tab1">フェーズ1</label>
		<label class="tab2_label" for="tab2">フェーズ2</label>
		<label class="tab3_label" for="tab3">フェーズ3</label>
    <label class="tab4_label" for="tab4">フェーズ4</label>
    <label class="tab5_label" for="tab5">フェーズ5</label>
    <label class="tab6_label" for="tab6">PPAP</label>
    <label class="tab7_label" for="tab7">8.3製品の設計・開発</label>


	</div>
	<div class="panel_area">
		<div id="panel1" class="tab_panel">
      <% koumoku=["顧客インプット", "顧客の声", "設計目標", "製品保証計画書", "製品・製造工程の前提条件", "製品・製造工程のベンチマークデータ", "製品の信頼性調査", "経営者の支援", "特殊製品特性・特殊プロセス特性の暫定リスト", "暫定材料明細表", "暫定プロセスマップフロー図", "信頼性目標・品質目標", "事業計画・マーケティング戦略"] %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>

		<div id="panel2" class="tab_panel">
      <% koumoku=["試作コントロールプラン", "設計検証", "設計故障モード影響解析（DFMEA）", "製造性・組立性を考慮した設計", "特殊製品特性・特殊プロセス特性", "材料仕様書", "技術仕様書", "実現可能性検討報告書および経営者の支援", "図面（数学的データを含む）", "図面・仕様書の変更", "デザインレビュー", "ゲージ・試験装置の要求事項"] %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>

		<div id="panel3" class="tab_panel">
      <% koumoku=["製品・プロセスの品質システムのレビュー", "経営者の支援(Phase3)", "特性マトリクス", "測定システム解析計画書", "梱包規格・仕様書", "工程能力予備調査計画書", "先行生産（Pre-launch,量産試作）コントロールプラン", "プロセス故障モード影響解析（PFMEA）", "プロセス指示書", "プロセスフロー図(Phase3)", "フロアプランレイアウト"]  %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>

    <div id="panel4" class="tab_panel">
      <% koumoku=["量産コントロールプラン", "量産の妥当性確認試験", "生産部品承認(PPAP)", "測定システム解析", "梱包評価", "工程能力予備調査", "実質的生産", "品質計画承認署名"] %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>
    
    <div id="panel5" class="tab_panel">
      <% koumoku=["顧客満足の向上", "引渡しおよびサービスの改善", "学んだ教訓・ベストプラクティスの効果的な利用", "変動の減少"] %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>
    
    <div id="panel6" class="tab_panel">
      <% koumoku=["顧客技術承認", "顧客固有要求事項適合記録", "部品提出保証書（PSW)", "設計FMEA", "製品設計文書", "製品サンプル", "測定システム解析（MSA)", "検査補助具", "材料・性能試験結果", "有資格試験所文書", "技術変更文書（顧客承認）", "寸法測定結果", "外観承認報告書（AAR)", "初期工程調査結果", "マスターサンプル", "プロセスフロー図", "プロセスFMEA", "バルク材料チェックリスト", "コントロールプラン"] %>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>

    <div id="panel7" class="tab_panel">
      <% koumoku= ["顧客要求事項検討会議事録_営業", "金型製造指示書_営業", "金型製作依頼票_金型設計", "進捗管理票_生産技術", "試作製造指示書_営業", "設計計画書_金型設計", "設計検証チェックリスト_金型設計", "設計変更会議議事録_金型設計", "妥当性確認記録_金型設計",  "初期流動検査記録","レイアウト/歩留まり_営業", "DR構想検討会議議事録_生産技術", "DR会議議事録_金型設計"]%>
      <%= render partial: "form_product_attainment", locals: { products: @products, koumoku:koumoku } %>
		</div>



	</div>
</div>







      


















