<head>
<p id="notice"><%= notice %></p>


<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h1>IATF APQP / PPAP 製品・文書データ一覧</h1>

<%= "ユーザーEmailアドレス：   "%>
<%= @user.email %> <br>
<%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

</head>

<div class="container-fluid">
  
    <table>
      <thead>
        <tr>
          <div class="row align-items-start">
          
            <div  class="col-2">
            <br> <%= link_to '製品カテゴリ', products_path,data: {"turbolinks" => false},class:"btn btn-secondary" %>
            </div>

            <div  class="col-2">
            <br> <%= link_to '文書カテゴリ', index_document_path,data: {"turbolinks" => false},class:"btn btn-secondary" %>
            </div>

            <div  class="col-2">
            <br> <%= link_to '各フェーズ説明ページ', index4_product_path,data: {"turbolinks" => false},class:"btn btn-secondary" %>
            </div>


      

          </div>
        </tr>
      </thead>
    </table>
</div>          


<% tassei=[] %>
<% tassei1=[] %>
<% tassei2=[] %>

<% @products.each do |pro| %>
  <% if pro.status=="完了" && pro.documenttype=="製品" %>
    <% tassei.push(pro.partnumber) %>
  <% end %>
<% end %>

<% @jyufukunashi=Product.select(:partnumber).distinct.order(:partnumber) %>

<% @jyufukunashi.each do |j| %>
  <% if j.partnumber!=nil %>
    <% tassei1=[j.partnumber,tassei.count(j.partnumber)]%>
    <% tassei2.push(tassei1)  %>
  <% end %>
<% end %>

<% tassei=[] %>
<% tassei1=[] %>
<% d_tassei2=[] %>

<% @products.each do |pro| %>
  <% if pro.status=="完了" && pro.documenttype=="文書" %>
    <% tassei.push(pro.documentcategory) %>
  <% end %>
<% end %>

<% @jyufukunashi=Product.select(:documentcategory).distinct.order(:documentcategory) %>

<% @jyufukunashi.each do |j| %>
  <% if j.documentcategory!=nil %>
    <% tassei1=[j.documentcategory,tassei.count(j.documentcategory)]%>
    <% d_tassei2.push(tassei1)  %>
  <% end %>
<% end %>

<% tassei=[] %>
<% tassei1=[] %>
<% tassei3=[] %>

<% @products.each do |pro| %>
  <% if pro.status=="仕掛中" && pro.documenttype=="製品" %>
    <% tassei.push(pro.partnumber) %>
  <% end %>
<% end %>

<% @jyufukunashi=Product.select(:partnumber).distinct.order(:partnumber) %>

<% @jyufukunashi.each do |j| %>
  <% if j.partnumber!=nil %>
    
    <% tassei1=[j.partnumber,tassei.count(j.partnumber)]%>
    <% tassei3.push(tassei1)  %>
  <% end %>
<% end %>


<% tassei=[] %>
<% tassei1=[] %>
<% d_tassei3=[] %>

<% @products.each do |pro| %>
  <% if pro.status=="仕掛中" && pro.documenttype=="文書" %>
    <% tassei.push(pro.documentcategory) %>
  <% end %>
<% end %>

<% @jyufukunashi=Product.select(:documentcategory).distinct.order(:documentcategory) %>

<% @jyufukunashi.each do |j| %>
  <% if j.documentcategory!=nil %>
    
    <% tassei1=[j.documentcategory,tassei.count(j.documentcategory)]%>
    <% d_tassei3.push(tassei1)  %>
  <% end %>
<% end %>

<br>
<br>

<div class=”container>
  <div class="row align-items-end">

    <div class="col-md-3">
      <strong><font color="black" size="4">APQP</font>
              <font color="blue"  size="5">完成</font> 
              <font color="black" size="4">件数(製品)</font></strong>
      <%= bar_chart tassei2 ,label: "APQP完成件数",width: "500px", height: "400px" %>
    </div>

    <div class="col-md-3">
      <strong><font color="black" size="4">APQP</font>
              <font color="blue"  size="5">完成</font>
              <font color="black" size="4">割合 by 製品</font></strong>
      <%= pie_chart tassei2 , label: "APQP完成割合 by 製品",width: "500px", height: "400px"%>
    </div>

    <div class="col-md-3">
      <strong><font color="black" size="4">APQP</font>
              <font color="blue"  size="5">完成</font>
              <font color="black" size="4">件数(文書カテゴリー)</font></strong>
      <%= bar_chart d_tassei2, label: "APQP完成件数",width: "500px", height: "400px" %>
    </div>

    <div class="col-md-3">
      <strong><font color="black" size="4">APQP</font>
              <font color="blue"  size="5">完成</font>
              <font color="black" size="4">割合 by 文書カテゴリー毎</font></strong>
      <%= pie_chart d_tassei2 , label: "APQP完成割合 by 製品",width: "500px", height: "400px"%>
    </div>

  </div>
</div>

<br>
<br>

<div class=”container>
  <div class="row align-items-end">

    <div class="col-md-3">
      <strong><font color="black" size="4">APQP</font>
              <font color="magenta" size="5">仕掛</font>
              <font color="black" size="4">件数(製品)</font></strong>
      <%= bar_chart tassei3 ,label: "APQP完成件数",width: "500px", height: "400px" %>
    </div>

    <div class="col-md-3">
      <strong><font color="black"   size="4">APQP</font>
              <font color="magenta" size="5">仕掛</font>
              <font color="black"   size="4">割合 by 製品</font></strong>
      <%= pie_chart tassei3 , label: "APQP完成割合 by 製品",width: "500px", height: "400px"%>
    </div>

    <div class="col-md-3">
      <strong><font color="black"   size="4">APQP</font>
              <font color="magenta" size="5">仕掛</font>
              <font color="black"   size="4">件数(文書カテゴリー)</font></strong>
      <%= bar_chart d_tassei3, label: "APQP完成件数",width: "500px", height: "400px" %>
    </div>

    <div class="col-md-3">
      <strong><font color="black"   size="4">APQP</font>
              <font color="magenta" size="5">仕掛</font>
              <font color="black"   size="4">割合 by 文書カテゴリー毎</font></strong>
      <%= pie_chart d_tassei3 , label: "APQP完成割合 by 製品",width: "500px", height: "400px"%>
    </div>

  </div>
</div>

<br>
<br>



      <tbody>
          <br>
            <div class="col-md-12">
              <strong><%= month_calendar events: @products,attribute: :start_time, end_attribute: :deadline_at do |date, blogs| %></strong>
                <%= date.day %>
                <% blogs.each do |blog| %>
                <div>
                  <% if blog.deadline_at.strftime("%Y-%m-%d")==date.strftime("%Y-%m-%d") || blog.start_time.strftime("%Y-%m-%d")==date.strftime("%Y-%m-%d")%>

                    <% if blog.start_time.strftime("%Y-%m-%d")==date.strftime("%Y-%m-%d") %>
                      <b><font color="blue"><%= "<<登録日>>"%></font></b><br>
                    <% end %>
                   
                    <% if blog.deadline_at.strftime("%Y-%m-%d")==date.strftime("%Y-%m-%d") %>
                      <% if blog.deadline_at < Time.now && blog.status!="完了" %>
                        <b><font color="red" size="3"> <%= "<<完了予定日超過>>" %></font></b><br>
                      <% else %>
                        <b><font color="brown"><%= "<<完了予定日>>"%></font></b><br>
                      <% end %>
                    <% end %>
                    <% if blog.documenttype=="製品" %>
                      <%= link_to blog.partnumber, blog %><br>
                      <%= blog.phase%>
                      <%= "("%>
                      <%= blog.food  %>
                      <%= ")--->"%>
                    <% else %>
                      <%= link_to blog.documentname, blog %><br>
                      <%= blog.documentcategory%>
                      <%= "--->"%>
                      <%= blog.food  %>
                    <% end %>
                    
                    <%= blog.status%><br>
                  <% end %>
                </div>
                <% end %>
            <% end %>
      </tbody>

    

 





